altgraph==0.17.2
cached-property==1.5.2
cffi==1.15.0
chevron==0.14.0
flatbuffers==2.0
frozendict==2.3.2
future==0.18.2
genanki==0.13.0
numpy==1.25.1
onnx == 1.11.0
onnxruntime==1.11.0
pefile==2023.2.7
protobuf==3.19.3
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pywin32-ctypes==0.2.2
PyYAML==6.0
SoundFile==0.10.3.post1
